{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": "*.jsx",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
